/* color palette
navy-16315C
coral1-F97375
coral2-FFBCBD
coral3-FEDAD9 */

/* document level styles */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "spacer"
        "footer";
    grid-template-rows: min-content auto 1fr min-content;
    height: 100vh;
}
.spacer {
    grid-area: spacer;
}
.gutter-left, .gutter-right {
    display: none;
}

/* header styles */
header {
    background-color: #16315C;
    color: #ffffff;
    position: static;
    grid-area: header;
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-areas:
        "logo title nav";
    align-items: start;
}
header a {
    padding: 1rem;
    grid-area: logo;
}
.small-logo {
    width: 30px;
}
.small-logo img {
    display: block;
}
header h1 {
    display: block;
    margin-top: 1rem;
    grid-area: title;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.nav-positioner {
    position: relative;
    align-self: center;
    grid-area: nav;
}
.nav-collapse {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Outfit", sans-serif;
    text-align: end;
}
.menu-item a:hover, .menu-item a:focus {
    text-decoration: #ffffff underline solid 1px;
}
.bottom-pad {
    padding-bottom: 10px;
}

/* main styles */
main {
    grid-area: main;
    padding: 20px;
    color: #16315C;
}
main h2 {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 30px;
}
main p, main ul {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}
.sites-list {
    list-style-type: "- "
}
.links {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}
.links a {
    text-align: center;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #16315C;
    border: 2px solid #16315C;
    border-radius: 10px;
    padding: 10px;
    transition: all 235ms;
}
.links a:hover, .links a:focus {
    background-color: #16315C;
    color: #ffffff;
}

/* footer styles */
footer {
    grid-area: footer;
    background-color: #16315C;
    padding: 1rem;
    color: #ffffff;
    display: flex;
    align-items: baseline;
    gap: 5px;
}
footer p {
    margin: 0;
    font-family: "Lexend", sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        grid-template-areas:
            "header header header"
            "left main right"
            "spacer spacer spacer"
            "footer footer footer";
        grid-template-columns: auto auto auto;
    }
    .gutter-left {
        display: block;
        grid-area: left;
        width: 15vw;
    }
    .gutter-right {
        display: block;
        grid-area: right;
        width: 15vw;
    }
    .links {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}