.searchcontainer {
    background-color: #FEDAD9;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0px 15px;
    border-radius: 12px;
    border: 2px solid #16315C;
}
label {
    font-size: 20px;
    font-weight: 600px;
}
label, input[type=submit] {
    display: block;
    margin: 20px 0px 8px 0px;
}
select, input[type=number] {
    border-radius: 8px;
    border: 1.5px solid #16315C;
    padding: 5px 10px;
}
.long {
    width: 100%;
}
.half {
    width: 40%;
}
.quarter {
    width: 24.1%;
}
.threequarter {
    width: 75%;
}
input[type=submit] {
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFBCBD;
    border-radius: 10px;
    border: 2px solid #16315C;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 235ms ease-in-out;
    margin-top: 80px;
    margin-bottom: 22px;
}
input[type=submit]:hover, input[type=submit].active {
    background-color: #F97375; 
}
.header2 {
    display: flex;
    justify-content: space-between;
}
.cartsize {
    width: 35px;
    height: 35px;;
}

@media screen and (min-width: 768px){
    main {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}