.searchcontainer {
    background-color: #FEDAD9;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 15px;
    border-radius: 12px;
    border: 2px solid #16315C;
}
input[type=submit] {
    display: block;
    margin: 20px 0px 20px 0px;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFBCBD;
    border-radius: 10px;
    border: 2px solid #16315C;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 235ms ease-in-out;
}
input[type=submit]:hover, input[type=submit].active {
    background-color: #F97375; 
}
.header2 {
    display: flex;
    justify-content: space-between;
}
.cartsize {
    width: 35px;
    height: 35px;;
}
.course {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: white;
}
.inline {
    display: inline-flex;
}
button {
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 600px;
    background-color: white;
    padding: 0px 5px;
    border-radius: 8px;
    border: 1.75px solid #16315C;
    transition: color 235ms ease-in-out;
}
button:hover, button:focus, button:active {
    background-color: #16315C;
    color: white;
}

button:hover:after, button:focus:after, button:active:after {
    background-color: white;
    color: #16315C;
}

@media screen and (min-width: 768px){
    main {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}