/* color palette
navy-16315C
coral1-F97375
coral2-FFBCBD
coral3-FEDAD9 */

/* document level styles */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/* header styles */
header {
    background-color: #16315C;
    color: #ffffff;
    position: static;
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-areas:
        "logo title nav";
    align-items: start;
}
header a {
    padding: 1rem;
    grid-area: logo;
}
.small-logo {
    width: 30px;
}
.small-logo img {
    display: block;
}
header h1 {
    display: block;
    margin-top: 1rem;
    grid-area: title;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.nav-positioner {
    position: relative;
    align-self: center;
    grid-area: nav;
}
.nav-collapse {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Outfit", sans-serif;
    text-align: end;
}
.menu-item a:hover, .menu-item a:focus {
    text-decoration: #ffffff underline solid 1px;
}

/* footer styles */
footer {
    background-color: #16315C;
    padding: 1rem;
    color: #ffffff;
    display: flex;
    align-items: baseline;
    gap: 5px;
}
footer p {
    margin: 0;
    font-family: "Lexend", sans-serif;
}