/*hello world*/
/*terminal commands*/
/*git pull*/ /*every time someone commits*/
/*git commit -m "Commit message"*/
/*git push origin master*/
/*16315C Navy    F97375	Coral 1     FFBCBD Coral 2	  FEDAD9 Coral 3*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: #16315C;
    font-family: "Outfit";
    font-size: 16px;
    box-sizing: border-box;
}

/*fonts*/
.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1 {
    font-family: "Lexend";
    font-weight: 600;
    font-size: 30px;
}
h2 {
    font-family: "Lexend";
    font-size: 16px;
    font-weight: 600;
}
h3 {
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 600px;
}
h4 {
    font-family: "Outfit";
    font-size: 16px;
}
.white {
    color: white
}

/*header styling*/
header {
    background-color: #16315C;
    width: 100%;
    padding: 25px;
}

main {
    width: 100%;
    padding: 20px;
}

footer {
    background-color: #16315C;
    color: white;
    width: 100%;
    height: 120px;
    padding: 25px;
}

/*basic button styling*/
.button {
    background-color: #FFBCBD;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 2s ease-in-out;

}
.button:hover, .button:active {
    background-color: #F97375; 
}

/*can change px to whtvr*/
@media screen and (min-width: 750px){

}