/*hello world*/
/*terminal commands*/
/*git pull*/ /*every time someone commits*/
/*git commit -m "Commit message"*/
/*git push origin master*/
/*16315C Navy    F97375	Coral 1     FFBCBD Coral 2	  FEDAD9 Coral 3*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Outfit";
    font-size: 16px;
    box-sizing: border-box;
    color: #16315C;
}

/*fonts*/
.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1 {
    font-family: "Lexend";
    font-weight: 600;
    font-size: 30px;
}
h2 {
    font-family: "Lexend";
    font-size: 16px;
    font-weight: 600;
}
h3 {
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 600px;
}
h4 {
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
}
.white {
    color: white
}


body {
    height: 100%;
    grid-template-rows: min-content auto 1fr min-content;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2;
    width: 100%;
    padding: 20px;
}

.spacer {
    grid-row: 3;
    height: 100%;
}

footer {
    grid-row: 4;
}


/*basic button styling*/
.button {
    background-color: #FFBCBD;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 235ms ease-in-out;

}
.button:hover, .button:active {
    background-color: #F97375; 
}
.bottom-pad {
    padding-bottom: 10px;
}

input[type=submit] {
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFBCBD;
    border-radius: 10px;
    border: 2px solid #16315C;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 235ms ease-in-out;
}
input[type=submit]:hover, input[type=submit].active, input[type=submit].focus {
    background-color: #F97375; 
}