h1,h2,legend{
    font-family: "Lexend", sans-serif;
    color: white;
}
html{
    width:100%;
}

body{
    display:grid;
    grid-template-columns:2rem 1fr 2rem;
    grid-template-rows:0.3fr 70vh 0.2fr;
    width:100vw;
    padding:0;
    margin:0;
}
header{
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #16315C;
    width:100%;
    color:white;
    height:100%;    
    padding:1rem;
    display: grid;
    grid-template-columns:25% 50% 25%;
}
nav{
    background-color: #16315C;
    margin:0;
    font-size: 0.8rem;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
    text-align: right;
    align-self: right;
}

header h1{
    color: white;
    font-size: 1.5rem;
    display:grid;
    grid-column: 2/3; 
    width:100%;  
    text-align: center;
    align-self: bottom;
    
}
.logo{
    width:100%;
    padding:0;
    position:relative;
    grid-column: 1/2;        
}
img{
    max-width: 100%;
    max-height:100%;
    display:block;
    position:absolute;
    top:0;
    left:0;
    object-fit:cover;
    margin-top: auto;
    margin-bottom:auto;
}
main{
    grid-row:2/3;
    grid-column: 2/3;
    display:grid;
    grid-template-rows:0.5fr 0.5fr;
    grid-template-columns:1fr;
    gap:1rem;
    margin:1rem;
}
.Notif,.Todo{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 1fr 3rem;
}
.Notif{
    grid-row:1/2;
    grid-column: 1/2;
}
.Todo{
    grid-row:2/3;
    grid-column: 1/2;
}
.label{
    background-color:#16315C;
    border-radius: 5px;
    grid-row:2/3;
    padding: 0.5rem;
    font-size: 0.7rem;
}
.icon{
    background-color: #FEDAD9;
    height:100%;
    width:100%;
    grid-row:1/2;
    border-radius: 5px;
}
footer{
    grid-row:3/4;
    grid-column: 1/4;
    background-color: #16315C;
    padding: 0.5rem;
}