.searchcontainer {
    background-color: #FEDAD9;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0px 15px;
    border-radius: 12px;
    border: 2px solid #16315C;
}
label, input[type=submit] {
    display: block;
    margin: 20px 0px 5px 0px;
}
select, input[type=number] {
    border-radius: 8px;
    border: 1.5px solid #16315C;
    padding: 5px 10px;
}
input[type=submit] {
    background-color: #FFBCBD;
    border-radius: 8px;
    border: 1.5px solid #16315C;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 225ms ease-in-out;
    margin-bottom: 22px;
}
input[type=submit]:hover, input[type=submit].active {
    background-color: #F97375; 
}
